.header {
  padding: 60px;
  text-align: center;
  background: #cfe0e8;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 60px;
  text-align: center;
  background: #cfe0e8;
  color: white;
  font-size: 30px;
}

.subtitle{
  color: #b7d7e8;
}

#myRange {
  overflow: hidden;
  width: 50%;
}

.textoError {
    font-family: "Courrier New";
    font-size: 20px;
    color: red;
}

.estiloboton {
  background-color: #c2d4dd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar {
  background-color: #c2d4dd;
}


/* Style the buttons that are used to open and close the accordion panel #eee*/
.accordion {
  /*background-color: #eee;*/
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  /*background-color: #ccc;*/
  /*background-color: #c2d4dd;*/
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* Propiedades de los números. */
.steps {
  clear: both;
  list-style: none;
  padding-left: 2%;
}
.steps li {
  margin: 2em 0;
  padding-top: 2em; /* Solución 1 */
  display: block;
  position: relative;
  counter-increment: inst;
}
.steps li::before {
  content: counter(inst);
  
  background: #87bdd8;
  color: #fff;
  
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px #b7d7e8;
  
  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;
  
  padding-top: 0;
  padding-left: 2.25%;
  left: -5%; /* Solución 1 */
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
  position: absolute;
  
  transition: all 0.2s ease-in-out;
  
  z-index: -1;
}
@media (min-width: 33em) {
  .steps li:before {
    border-radius: 50%;
    font-size: 1.5em;
    height: 1.35em;
    margin-left: 2.5%;
    padding-left: 0;
    padding-top: 0;
    top: -0.15em;
    width: 1.35em;
    z-index: -1;
  }
}

body {
  font-size: 25px;
}