@font-face {
  font-family: 'Dominoblanco';
  src: url(../fonts/Lasvwd__.ttf);
  font-style: regular;
}

@font-face {
  font-family: 'Dominonegro';
  src: url(../fonts/Lasvbld_.ttf);
  font-style: regular;
}

@font-face {
  font-family: 'Naipesfont';
  src: url(../fonts/PLAYCRDS.TTF);
  font-style: regular;
}

#minicanvas{
  visibility: hidden;

}

body {
  font-size: 25px;
}

.nodecoration {
  cursor: default;      
  text-decoration: none;
  color: black;
}

.nodecoration:hover {
  color: #000;
}

.header {
  padding: 60px;
  text-align: center;
  background: #cfe0e8;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 40px;
  text-align: center;
  background: #cfe0e8;
  color: white;
  font-size: 30px;
}

.subtitle {
  color: #b7d7e8;
}

#myRange {
  overflow: hidden;
  width: 50%;
}

.textoError {
  font-family: "Courrier New";
  font-size: 20px;
  color: red;
}

.estiloboton {
  background-color: #c2d4dd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar {
  background-color: #c2d4dd;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  /*background-color: #c2d4dd;*/
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.steps {
  clear: both;
  list-style: none;
  padding-left: 2%;
}

.steps li {
  margin: 2em 0;
  padding-top: 2em;
  display: block;
  position: relative;
  counter-increment: inst;
}

.steps li::before {
  content: counter(inst);
  background: #87bdd8;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px #b7d7e8;
  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  padding-left: 2.25%;
  left: -5%;
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
  position: absolute;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

@media (min-width: 33em) {
  .steps li:before {
    border-radius: 50%;
    font-size: 1.5em;
    height: 1.35em;
    margin-left: 2.5%;
    padding-left: 0;
    padding-top: 0;
    top: -0.15em;
    width: 1.35em;
    z-index: -1;
  }
}